$body-bg:		#f7f7f7 !default;
$card-bg:		#fff !default;
$border-color:	#3fa2f6 !default;

$heading-bg:			#3fa2f6 !default;
$heading-color:			#fff !default;
$heading-padding:	10px !default;


$padding: 20px !default;


$font-size-base:	14px !default;
$font-size-large:	ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:	ceil(($font-size-base * 0.85)) !default; // ~12px


$border-radius-base:	4px !default;
